html {
  font-size: 62.5%; }

body {
  transition: all 300ms linear;
  font-family: "cooper_hewitt", sans-serif;
  font-size: 1.5rem;
  color: #333;
  letter-spacing: 2px;
  margin-top: 60px;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    body {
      margin-top: 51px; } }
  body h1 {
    font-size: 4.8rem;
    font-weight: 900; }
    @media (max-width: 991px) {
      body h1 {
        font-size: 3rem; } }
  body h2 {
    font-size: 3rem;
    font-weight: 700; }
  body h3 {
    font-size: 1.8rem;
    font-weight: 700; }
  body p {
    font-size: 1.5rem; }
  body li {
    font-size: 1.5rem; }
  body li li, body li p {
    font-size: 1.5rem; }
  body a {
    cursor: pointer; }
  body .text-light {
    font-weight: 500; }
  body .pr-color {
    color: #333; }
  body .pr-bg {
    background: #333; }
  body .nd-color {
    color: #9E2F31; }
  body .nd-bg {
    background: #9E2F31; }
  body .rd-bg {
    background: #f7f7f7; }
  body .text-xxlg {
    font-size: 7rem;
    font-weight: 900;
    line-height: 7rem; }
  body .text-lg {
    font-size: 3rem; }
  body .text-md {
    font-size: 1.8rem; }
  body .text-white {
    color: white; }
  body .uppercase {
    text-transform: uppercase; }
  body .main-btn {
    font-family: "bahn_proregular";
    font-size: 38px;
    line-height: 38px;
    background: #9E2F31;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 12px 24px; }
    body .main-btn:hover {
      opacity: 0.8;
      color: white;
      background: #9E2F31; }
  body .btn-white {
    color: #9E2F31 !important;
    background: white;
    border-radius: 0;
    font-weight: 900;
    cursor: pointer; }
    body .btn-white:hover {
      opacity: 0.8; }
  body .is-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%; }
    @media (max-width: 767px) {
      body .is-flex {
        display: block; } }
  body .is-flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center; }
    @media (max-width: 767px) {
      body .is-flex-center {
        align-items: center; } }
  body .is-flex > [class*='col-'] {
    flex-direction: column; }
  body .is-flex > div {
    flex-direction: column; }
  body .fw-image img {
    height: auto;
    display: block;
    outline: none;
    width: 100%; }
  body .full-height {
    height: 100%; }
  body .checkbox label,
  body .radio label {
    padding-left: 0; }
    body .checkbox label:after,
    body .radio label:after {
      content: '';
      display: table;
      clear: both; }
  body .checkbox .cr,
  body .radio .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-radius: 4px;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em; }
    body .checkbox .cr .cr-icon,
    body .radio .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 45%;
      left: 10%; }
  body .radio .cr {
    border-radius: 50%; }
    body .radio .cr .cr-icon {
      top: 15%;
      width: 1em;
      height: 1em;
      background: #9E2F31;
      border-radius: 50%;
      margin-left: 0.04em; }
  body .checkbox label input[type="checkbox"],
  body .radio label input[type="radio"] {
    display: none; }
  body .checkbox label input[type="checkbox"] + .cr > .cr-icon,
  body .radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0; }
  body .checkbox label input[type="checkbox"]:checked + .cr {
    background: #9E2F31;
    border-color: #9E2F31; }
  body .radio label input[type="radio"]:checked + .cr {
    border-color: #9E2F31; }
  body .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
  body .radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
    color: white; }
  body .checkbox label input[type="checkbox"]:disabled + .cr,
  body .radio label input[type="radio"]:disabled + .cr {
    opacity: .5; }
  body .form-control,
  body .form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: #f3f3f3; }
  body .has-error .help-block,
  body .has-error .form-control-feedback.glyphicon-remove {
    color: #9E2F31; }
  body .text-success {
    color: #4CAF50; }
  body .ic-success-lg {
    color: #4CAF50;
    font-size: 7rem; }
  body .panel-default {
    border: 2px solid #f3f3f3; }
  body .image-responsive img {
    width: 100%; }
  body .p-tb-2 {
    padding: 2rem 0; }
  body .navbar {
    min-height: 40px; }

.input-group.tee-form {
  border: 1px solid #f3f3f3;
  border-radius: 4px; }
  .input-group.tee-form .input-group-addon {
    border: none;
    background: transparent; }
  .input-group.tee-form .form-control {
    box-shadow: none;
    border: none;
    outline: none;
    padding-left: 0; }

.navbar-default {
  background: #9E2F31;
  border: none;
  z-index: 84;
  height: 60px; }
  @media (max-width: 767px) {
    .navbar-default {
      height: 50px; } }
  .navbar-default .navbar-toggle.hamburger {
    display: block;
    float: left;
    border: none;
    margin: 0;
    padding: 20px 15px; }
    @media (max-width: 767px) {
      .navbar-default .navbar-toggle.hamburger {
        margin-left: -15px;
        padding: 15px; } }
    .navbar-default .navbar-toggle.hamburger .icon-bar {
      width: 30px;
      height: 3px;
      background-color: white !important; }
    .navbar-default .navbar-toggle.hamburger .icon-bar + .icon-bar {
      margin-top: 6px; }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:focus {
    background: transparent; }
  .navbar-default .brand-logo {
    height: 100%;
    padding: 10px 15px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .navbar-default .brand-logo a {
      display: inline-block; }
      .navbar-default .brand-logo a .logo-sign {
        max-height: 40px; }
        @media (max-width: 767px) {
          .navbar-default .brand-logo a .logo-sign {
            max-height: 30px; } }
  .navbar-default .navbar-right {
    padding-right: 15px; }
    @media (max-width: 767px) {
      .navbar-default .navbar-right {
        padding-right: 0; } }
    .navbar-default .navbar-right > li > a {
      color: white;
      font-size: 1.5rem;
      padding: 20px 15px; }
    .navbar-default .navbar-right > li > a.dropdown-toggle {
      padding: 15px; }
      @media (max-width: 767px) {
        .navbar-default .navbar-right > li > a.dropdown-toggle {
          padding: 12px 15px; } }
  .navbar-default .navbar-left > li > a {
    color: white;
    font-size: 1.8rem;
    padding: 20px 15px;
    z-index: 2; }
  .navbar-default .navbar-left > li > a.dropdown-toggle {
    padding: 15px; }
    @media (max-width: 767px) {
      .navbar-default .navbar-left > li > a.dropdown-toggle {
        padding: 12px 15px; } }
  @media (max-width: 767px) {
    .navbar-default .cart-right {
      float: right;
      margin-top: 0;
      margin-bottom: 0; } }
  .navbar-default .cart-right > .open > a,
  .navbar-default .cart-right > .open > a:focus,
  .navbar-default .cart-right > .open > a:hover {
    color: white;
    background: #9E2F31;
    padding: 15px; }
  .navbar-default .cart-right .cart {
    border: none;
    border-top: 2px solid #9E2F31; }
    @media (max-width: 767px) {
      .navbar-default .cart-right .cart {
        position: absolute;
        right: 0;
        left: auto;
        background: white;
        width: 100vw;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); } }
    .navbar-default .cart-right .cart .cart-item {
      min-width: 360px;
      padding: 10px;
      border-bottom: 1px solid #f3f3f3; }
      .navbar-default .cart-right .cart .cart-item .media-left img {
        max-width: 80px; }
      .navbar-default .cart-right .cart .cart-item .item-name {
        margin: 0 0 10px; }
      .navbar-default .cart-right .cart .cart-item p {
        margin-bottom: 0; }
        .navbar-default .cart-right .cart .cart-item p .item-price {
          color: #9E2F31; }
      .navbar-default .cart-right .cart .cart-item .action a {
        text-decoration: none;
        padding: 10px;
        color: #333; }
      .navbar-default .cart-right .cart .cart-item .action a:hover {
        color: #9E2F31; }
    .navbar-default .cart-right .cart .cart-total {
      padding: 10px; }
      .navbar-default .cart-right .cart .cart-total h3 {
        margin-top: 10px;
        margin-bottom: 20px; }
      .navbar-default .cart-right .cart .cart-total .main-btn {
        width: 100%;
        color: white;
        padding: 10px 15px; }
        .navbar-default .cart-right .cart .cart-total .main-btn:hover, .navbar-default .cart-right .cart .cart-total .main-btn:active {
          background: #9E2F31; }
  .navbar-default .cart-right .icon {
    font-size: 2.4rem; }
  .navbar-default .cart-right .cart-badge {
    background: white;
    height: 20px;
    width: 20px;
    color: #9E2F31;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 0;
    vertical-align: middle; }
  .navbar-default .toggle-search {
    margin: 0;
    padding: 12px 0;
    float: left;
    border: none; }
    @media (max-width: 767px) {
      .navbar-default .toggle-search {
        padding: 5px 0; } }
    .navbar-default .toggle-search .search-wrapper {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      width: 0px;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      position: relative; }
      .navbar-default .toggle-search .search-wrapper .reset-btn {
        border: 1px solid transparent;
        background-color: transparent;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        height: 30px;
        cursor: pointer;
        color: white; }
      .navbar-default .toggle-search .search-wrapper .search-input:not(:valid) ~ .reset-btn {
        display: none; }
      .navbar-default .toggle-search .search-wrapper .search-input {
        border: none;
        border-bottom: 1px solid white;
        background: #9E2F31;
        color: white;
        height: 30px;
        width: 100%; }
        .navbar-default .toggle-search .search-wrapper .search-input:focus {
          outline: none; }
        .navbar-default .toggle-search .search-wrapper .search-input::-webkit-input-placeholder {
          color: white;
          opacity: 0.5;
          font-style: italic; }
        .navbar-default .toggle-search .search-wrapper .search-input::-moz-placeholder {
          color: white;
          opacity: 0.5;
          font-style: italic; }
        .navbar-default .toggle-search .search-wrapper .search-input:-ms-input-placeholder {
          color: white;
          opacity: 0.5;
          font-style: italic; }
        .navbar-default .toggle-search .search-wrapper .search-input:-moz-placeholder {
          color: white;
          opacity: 0.5;
          font-style: italic; }
    .navbar-default .toggle-search label {
      color: white;
      font-size: 1.8rem; }
    .navbar-default .toggle-search input#in {
      position: absolute;
      appearance: none;
      cursor: pointer;
      left: -100%;
      top: -100%; }
    .navbar-default .toggle-search #in + label {
      position: absolute;
      cursor: pointer;
      padding: 10px; }
    .navbar-default .toggle-search #in:checked ~ .search-wrapper {
      width: 200px;
      opacity: 1; }

.sidebar-nav .search-wrapper {
  padding: 10px 15px;
  width: 100%;
  margin: 0; }
  .sidebar-nav .search-wrapper .input-group {
    border: 1px solid #f3f3f3;
    border-radius: 50px;
    background: white; }
    .sidebar-nav .search-wrapper .input-group .form-control,
    .sidebar-nav .search-wrapper .input-group .input-group-btn button {
      border: none;
      background: transparent;
      box-shadow: none; }

#signIn.in {
  text-align: center;
  padding: 0 !important; }
  #signIn.in:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; }
  #signIn.in .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 800px; }
    #signIn.in .modal-dialog .modal-content .modal-header {
      background: #9E2F31;
      color: white;
      padding: 20px; }
      #signIn.in .modal-dialog .modal-content .modal-header h2 {
        font-family: "bahn_proregular";
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 300; }
      #signIn.in .modal-dialog .modal-content .modal-header .close {
        color: white;
        text-shadow: none;
        opacity: 1; }
    #signIn.in .modal-dialog .modal-content .modal-body {
      padding: 2rem 5rem 4rem; }
      #signIn.in .modal-dialog .modal-content .modal-body .social-buttons {
        display: inline-block;
        width: 100%;
        text-align: center; }
        #signIn.in .modal-dialog .modal-content .modal-body .social-buttons a {
          width: 30%;
          padding: 10px 30px; }
        #signIn.in .modal-dialog .modal-content .modal-body .social-buttons .btn-fb {
          display: inline-block;
          color: #fff;
          border-radius: 0;
          background-color: #3b5998;
          margin-right: 10px; }
          #signIn.in .modal-dialog .modal-content .modal-body .social-buttons .btn-fb:hover {
            color: #fff;
            background-color: #496ebc; }
        #signIn.in .modal-dialog .modal-content .modal-body .social-buttons .btn-gp {
          display: inline-block;
          color: #fff;
          border-radius: 0;
          background-color: #DD4D42; }
          #signIn.in .modal-dialog .modal-content .modal-body .social-buttons .btn-gp:hover {
            color: #fff;
            background-color: #ea655b; }
        #signIn.in .modal-dialog .modal-content .modal-body .social-buttons .form-group {
          margin-bottom: 10px; }
      #signIn.in .modal-dialog .modal-content .modal-body form .form-group {
        margin-bottom: 2rem; }
        #signIn.in .modal-dialog .modal-content .modal-body form .form-group .form-control {
          border-color: #f3f3f3; }
          #signIn.in .modal-dialog .modal-content .modal-body form .form-group .form-control::-webkit-input-placeholder {
            color: #bcbcbc; }
          #signIn.in .modal-dialog .modal-content .modal-body form .form-group .form-control::-moz-placeholder {
            color: #bcbcbc; }
          #signIn.in .modal-dialog .modal-content .modal-body form .form-group .form-control:-ms-input-placeholder {
            color: #bcbcbc; }
          #signIn.in .modal-dialog .modal-content .modal-body form .form-group .form-control:-moz-placeholder {
            color: #bcbcbc; }
      #signIn.in .modal-dialog .modal-content .modal-body form p {
        padding-top: 2rem; }
      #signIn.in .modal-dialog .modal-content .modal-body .sign-in-or p span {
        vertical-align: middle;
        margin: 0 10px 10px;
        width: 10%;
        color: #9E2F31;
        font-weight: 700; }
      #signIn.in .modal-dialog .modal-content .modal-body .sign-in-or p:before {
        content: '';
        height: 1px;
        background: #9E2F31;
        display: inline-block;
        width: 45%;
        vertical-align: middle; }
      #signIn.in .modal-dialog .modal-content .modal-body .sign-in-or p:after {
        content: '';
        height: 1px;
        background: #9E2F31;
        display: inline-block;
        width: 45%;
        vertical-align: middle; }
      #signIn.in .modal-dialog .modal-content .modal-body p.help-block a {
        color: #333; }
      #signIn.in .modal-dialog .modal-content .modal-body p.join-us {
        text-transform: uppercase;
        font-size: 1.8rem; }

.modal-backdrop,
.modal-backdrop.fade {
  background: white;
  opacity: 0.9; }

.pt-box {
  position: relative;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3; }
  .pt-box .sub-menu {
    height: 100%; }
    .pt-box .sub-menu .btn-group {
      background: white; }
      @media (max-width: 991px) {
        .pt-box .sub-menu .btn-group {
          width: 100%; } }
    .pt-box .sub-menu a.btn {
      padding: 15px 30px;
      border-left: 1px solid #f3f3f3;
      border-radius: 0;
      font-weight: 700;
      font-size: 1.8rem; }
      .pt-box .sub-menu a.btn:last-child {
        border-right: 1px solid #f3f3f3; }
      @media (max-width: 991px) {
        .pt-box .sub-menu a.btn {
          width: 25%;
          padding: 15px 0;
          margin-left: 0.01px; } }
      .pt-box .sub-menu a.btn .tee-icon {
        font-size: 4.8rem;
        line-height: 0.75;
        margin-right: 10px;
        vertical-align: middle; }
        @media (max-width: 767px) {
          .pt-box .sub-menu a.btn .tee-icon {
            margin: 0 auto; } }
    .pt-box .sub-menu a.btn:hover {
      color: #9E2F31; }
  .pt-box .branch-hl {
    font-size: 3rem;
    color: #9E2F31;
    padding: 20px 50px;
    background: white;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block; }
    @media (max-width: 767px) {
      .pt-box .branch-hl {
        padding: 20px 15px;
        width: 100%; } }

.pt-box:after {
  z-index: -1;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url("../images/bg/pattern-dark.png") repeat;
  background-size: 8px; }

.shop .pro-container .affix {
  width: 100%;
  z-index: 3;
  background-color: white; }
  .shop .pro-container .affix .sub-menu button.btn {
    font-size: 1.5rem; }
    .shop .pro-container .affix .sub-menu button.btn .tee-icon {
      font-size: 3rem; }

.pro-container .pro-wrp {
  padding: 30px; }
  @media (max-width: 767px) {
    .pro-container .pro-wrp {
      padding: 15px; } }
  .pro-container .pro-wrp h2 {
    margin-bottom: 20px; }
  .pro-container .pro-wrp .black-head {
    margin: 0 15px 30px;
    padding: 15px;
    background: #333;
    color: white;
    border-top: 2px solid #9E2F31;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: 3px; }
  .pro-container .pro-wrp .pro-item {
    display: none; }
    .pro-container .pro-wrp .pro-item .thumbnail {
      padding: 0;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 0;
      padding-bottom: 15px;
      position: relative;
      background: transparent; }
      .pro-container .pro-wrp .pro-item .thumbnail a {
        text-decoration: none; }
      .pro-container .pro-wrp .pro-item .thumbnail .caption {
        padding: 15px 15px; }
        .pro-container .pro-wrp .pro-item .thumbnail .caption .pro-tit {
          font-weight: 900;
          margin-top: 0;
          font-size: 1.5rem;
          text-transform: uppercase;
          letter-spacing: 2px; }
        .pro-container .pro-wrp .pro-item .thumbnail .caption .pro-cat {
          margin-bottom: 0px; }
      .pro-container .pro-wrp .pro-item .thumbnail:hover {
        border: 1px solid transparent;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        background: white; }
      .pro-container .pro-wrp .pro-item .thumbnail img {
        width: 100%; }
        @media (max-width: 767px) {
          .pro-container .pro-wrp .pro-item .thumbnail img {
            width: 80%; } }
    .pro-container .pro-wrp .pro-item h1.pro-name {
      margin-top: 0;
      letter-spacing: 5px;
      font-size: 3rem;
      letter-spacing: 2px; }
    .pro-container .pro-wrp .pro-item h2.pro-price {
      font-weight: 300; }
    .pro-container .pro-wrp .pro-item .pro-stock,
    .pro-container .pro-wrp .pro-item .pro-des,
    .pro-container .pro-wrp .pro-item .pro-gender,
    .pro-container .pro-wrp .pro-item .pro-size {
      padding-top: 20px;
      margin: 0; }
    .pro-container .pro-wrp .pro-item .pro-gender label.btn {
      box-shadow: none;
      border: 2px solid #333;
      border-radius: 0px; }
      .pro-container .pro-wrp .pro-item .pro-gender label.btn.active {
        background: #333;
        color: white; }
    .pro-container .pro-wrp .pro-item .pro-size label.btn {
      box-shadow: none;
      font-size: 1.8rem;
      text-align: center;
      padding: 10px;
      background: #333;
      color: white;
      margin: 5px;
      height: 50px;
      width: 50px;
      border-radius: 0px; }
      @media (max-width: 991px) {
        .pro-container .pro-wrp .pro-item .pro-size label.btn {
          height: 45px;
          width: 45px;
          padding: 8px; } }
      .pro-container .pro-wrp .pro-item .pro-size label.btn.active {
        opacity: 0.6; }
      .pro-container .pro-wrp .pro-item .pro-size label.btn input {
        display: none; }
      .pro-container .pro-wrp .pro-item .pro-size label.btn:first-child {
        margin-left: 0; }
      .pro-container .pro-wrp .pro-item .pro-size label.btn:last-child {
        margin-right: 0; }
    .pro-container .pro-wrp .pro-item .pro-action {
      padding-top: 20px; }
      .pro-container .pro-wrp .pro-item .pro-action li {
        vertical-align: middle; }
        @media (max-width: 767px) {
          .pro-container .pro-wrp .pro-item .pro-action li {
            display: block; } }
      .pro-container .pro-wrp .pro-item .pro-action .pro-quantity .input-group {
        max-width: 120px;
        padding: 0 0 20px 0; }
        .pro-container .pro-wrp .pro-item .pro-action .pro-quantity .input-group .input-group-addon,
        .pro-container .pro-wrp .pro-item .pro-action .pro-quantity .input-group .form-control {
          border: none;
          text-align: center;
          border: 2px solid #333;
          border-radius: 0px; }
        .pro-container .pro-wrp .pro-item .pro-action .pro-quantity .input-group .input-group-addon {
          border: 1px solid #333;
          background: #333;
          border-radius: 0px;
          color: white; }
      .pro-container .pro-wrp .pro-item .pro-action .pro-purchase {
        padding: 0 5px 20px;
        width: 100%; }
        .pro-container .pro-wrp .pro-item .pro-action .pro-purchase button {
          width: 400px; }
          @media (max-width: 991px) {
            .pro-container .pro-wrp .pro-item .pro-action .pro-purchase button {
              width: 100%; } }
    .pro-container .pro-wrp .pro-item .pro-tags {
      height: 54px;
      padding: 15px 0; }
      @media (max-width: 767px) {
        .pro-container .pro-wrp .pro-item .pro-tags {
          min-height: 0; } }
      .pro-container .pro-wrp .pro-item .pro-tags .tee-tag {
        padding: 5px 10px;
        border-radius: 50px;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 5px;
        letter-spacing: 0; }
    .pro-container .pro-wrp .pro-item .pro-spec-tags {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 1.2rem;
      font-weight: 500; }
      .pro-container .pro-wrp .pro-item .pro-spec-tags .tee-spec-tag {
        padding: 3px 7px;
        border: 1px solid #9E2F31;
        color: #9E2F31;
        border-radius: 3px;
        display: block; }

.cta-box {
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid #f3f3f3; }
  .cta-box .cta-box-inner {
    background: white; }
    .cta-box .cta-box-inner .cta-text h2 {
      font-size: 4.8rem;
      font-weight: 700;
      margin-bottom: 30px; }
      @media (max-width: 991px) {
        .cta-box .cta-box-inner .cta-text h2 {
          font-size: 3rem; } }
    .cta-box .cta-box-inner .cta-text p {
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 30px; }
    .cta-box .cta-box-inner .cta-img img {
      width: 100%; }
  .cta-box:after {
    z-index: -1;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: url("../images/bg/pattern-dark.png") repeat;
    background-size: 8px; }

.cta-lg {
  background: #9E2F31;
  color: white;
  padding: 10px 30px;
  margin-bottom: 20px; }

.tee-subscribe {
  background: #222;
  padding: 30px; }
  @media (max-width: 991px) {
    .tee-subscribe .is-flex {
      display: block; } }
  .tee-subscribe .tee-sub-input .form-control {
    padding: 10px 15px;
    height: 54px;
    margin: 10px 0;
    border-radius: 0px;
    border: none; }
  .tee-subscribe .tee-sub-input button {
    height: 54px;
    font-size: 3rem;
    padding: 10px 15px; }
  .tee-subscribe .tee-social {
    margin: 15px 0; }
    @media (max-width: 767px) {
      .tee-subscribe .tee-social {
        text-align: center; } }
    .tee-subscribe .tee-social .tee-social-tit {
      color: white;
      margin: 0 10px 0 0;
      font-size: 3rem;
      vertical-align: middle;
      font-weight: 300; }
      @media (max-width: 767px) {
        .tee-subscribe .tee-social .tee-social-tit {
          margin: 0 0 15px 0; } }
    .tee-subscribe .tee-social a {
      text-decoration: none;
      color: white;
      display: inline-block;
      margin: 0 5px;
      vertical-align: middle;
      text-align: center; }
      .tee-subscribe .tee-social a .icon-social {
        font-size: 3rem;
        padding: 10px;
        height: 55px;
        width: 55px;
        background: #9E2F31;
        border-radius: 50px; }

footer {
  background: #9E2F31;
  letter-spacing: 3px;
  color: white;
  font-family: "cooper_hewitt", sans-serif; }
  footer .footer-row {
    margin: 0 15px;
    padding: 50px 0px;
    border-bottom: 1px solid white; }
    @media (max-width: 767px) {
      footer .footer-row .footer-logo, footer .footer-row .social-btn {
        text-align: center;
        margin-bottom: 4rem; } }
    footer .footer-row .purchase-btn {
      text-align: right; }
      @media (max-width: 767px) {
        footer .footer-row .purchase-btn {
          text-align: center; } }
    footer .footer-row .social-btn a {
      color: #9E2F31;
      background: white;
      border-radius: 50%;
      padding: 10px; }
      footer .footer-row .social-btn a:before {
        width: 20px;
        line-height: 20px;
        text-align: center;
        display: block;
        vertical-align: middle;
        letter-spacing: 0; }
    footer .footer-row a {
      color: white; }
    footer .footer-row .copyright {
      letter-spacing: 1px;
      font-weight: 700; }

#masthead-slide .carousel-inner {
  max-height: 800px !important; }
#masthead-slide .carousel-indicators li {
  width: 30px;
  height: 8px;
  background: #9E2F31;
  opacity: 0.5;
  border-radius: 4px;
  border: 0px;
  margin: 0px 5px; }
  #masthead-slide .carousel-indicators li:hover {
    background: white;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7); }
#masthead-slide .carousel-indicators li.active {
  border: 0px;
  background: white;
  opacity: 1;
  margin: 0 5px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7); }

.cart-body {
  padding: 20px 0; }
  .cart-body form {
    align-items: stretch; }
    @media (max-width: 991px) {
      .cart-body form {
        display: block;
        width: auto; } }
    @media (max-width: 767px) {
      .cart-body form {
        display: block;
        width: auto; } }
    .cart-body form .cart-list,
    .cart-body form .billing-info,
    .cart-body form .payment {
      padding: 0 30px;
      margin: 30px 0; }
      @media (max-width: 767px) {
        .cart-body form .cart-list,
        .cart-body form .billing-info,
        .cart-body form .payment {
          padding: 0 15px;
          margin: 15px 0; } }
    .cart-body form .payment-info,
    .cart-body form .promo-code {
      margin: 30px 0; }
      @media (max-width: 767px) {
        .cart-body form .payment-info,
        .cart-body form .promo-code {
          margin: 15px 0; } }
    .cart-body form .cart-title {
      font-weight: normal;
      margin-bottom: 20px; }
      .cart-body form .cart-title span {
        border-radius: 50%;
        padding: 5px;
        border: 2px solid #9E2F31;
        width: 30px;
        height: 30px;
        color: #9E2F31;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        margin-right: 10px; }
    .cart-body form .cart-row {
      border-top: 1px solid #f3f3f3;
      padding-top: 20px;
      padding-bottom: 20px;
      width: auto;
      margin: 0; }
      .cart-body form .cart-row:first-child {
        border: none; }
      @media (max-width: 767px) {
        .cart-body form .cart-row .cart-price,
        .cart-body form .cart-row .cart-img {
          padding-left: 0; } }
      @media (max-width: 767px) {
        .cart-body form .cart-row .cart-info {
          padding-left: 0; } }
      .cart-body form .cart-row .cart-info .pro-title {
        font-size: 1.8rem;
        margin-bottom: 5px;
        margin-top: 10px; }
      .cart-body form .cart-row .cart-info .pro-cat {
        color: #9E2F31;
        margin-bottom: 15px; }
      .cart-body form .cart-row .cart-info .pro-size {
        vertical-align: middle; }
        .cart-body form .cart-row .cart-info .pro-size .form-group {
          margin: 0 0 10px 0; }
          .cart-body form .cart-row .cart-info .pro-size .form-group .form-control {
            width: auto;
            border: 2px solid #f3f3f3;
            cursor: pointer; }
      .cart-body form .cart-row .cart-info .pro-quantity {
        vertical-align: middle; }
        .cart-body form .cart-row .cart-info .pro-quantity .input-group {
          max-width: 120px;
          margin-bottom: 10px; }
          .cart-body form .cart-row .cart-info .pro-quantity .input-group .input-group-addon,
          .cart-body form .cart-row .cart-info .pro-quantity .input-group .form-control {
            border: none;
            text-align: center;
            border: 2px solid #f3f3f3;
            font-size: 1.2rem;
            padding: 5px 10px;
            height: 34px;
            width: 40px; }
          .cart-body form .cart-row .cart-info .pro-quantity .input-group .input-group-addon {
            border: 1px solid #f3f3f3;
            background: #f3f3f3; }
      @media (max-width: 767px) {
        .cart-body form .cart-row .cart-action {
          padding: 0; } }
      .cart-body form .cart-row .cart-action a {
        color: #9E2F31;
        text-decoration: none;
        font-size: 1.8rem; }
      .cart-body form .cart-row .cart-total {
        font-size: 1.8rem; }
    @media (max-width: 767px) {
      .cart-body form .billing-info,
      .cart-body form .payment-info,
      .cart-body form .promo-code {
        border-top: 2px dashed #f3f3f3; }
        .cart-body form .billing-info .span1,
        .cart-body form .payment-info .span1,
        .cart-body form .promo-code .span1 {
          clear: both;
          margin-bottom: 15px; } }
    .cart-body form .billing-info .main-btn,
    .cart-body form .payment-info .main-btn,
    .cart-body form .promo-code .main-btn {
      width: 100%; }
    .cart-body form .billing-info {
      border-right: 2px dashed #f3f3f3;
      border-left: 2px dashed #f3f3f3; }
      @media (max-width: 991px) {
        .cart-body form .billing-info {
          border-left: none; } }
      @media (max-width: 767px) {
        .cart-body form .billing-info {
          border-left: none;
          border-right: none; } }
      .cart-body form .billing-info #acc_pw {
        margin-top: 10px; }
    .cart-body form .payment-info #gateways .radio-inline {
      padding: 0;
      margin: 0;
      margin-right: 10px; }
      .cart-body form .payment-info #gateways .radio-inline label {
        cursor: pointer; }
        .cart-body form .payment-info #gateways .radio-inline label .cr-img {
          border: 2px solid #f3f3f3;
          padding: 10px;
          height: 50px;
          border-radius: 4px; }
          .cart-body form .payment-info #gateways .radio-inline label .cr-img img {
            height: 100%;
            width: auto; }
        .cart-body form .payment-info #gateways .radio-inline label input[type="radio"] {
          display: none; }
        .cart-body form .payment-info #gateways .radio-inline label input[type="radio"]:checked + .cr-img {
          border: 2px solid #9E2F31; }

.banner {
  height: 400px;
  overflow: hidden;
  position: relative; }
  .banner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .banner img {
    width: 100%;
    transform: translateY(-10%); }
  .banner .banner-content h1 {
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000;
    text-align: center; }

.about-banner {
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.group-banner {
  background: url("../images/group-shirt/group-banner.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.border-box {
  border: 2px solid #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
  align-self: stretch; }
  @media (max-width: 991px) {
    .border-box {
      display: block !important; } }
  .border-box .border-box-content {
    width: 50%;
    padding: 15px;
    float: left; }
    @media (max-width: 991px) {
      .border-box .border-box-content {
        width: 100%;
        float: none; } }
  .border-box .border-box-image {
    width: 50%;
    float: left; }
    @media (max-width: 991px) {
      .border-box .border-box-image {
        width: 100%;
        float: none; } }
    .border-box .border-box-image img {
      width: 100%; }

.side-nav .side-nav-title {
  margin: 0;
  padding: 10px 15px; }

.acc-box .box-header {
  display: block;
  box-sizing: border-box;
  padding: 15px 0; }
  .acc-box .box-header:after {
    display: block;
    content: "";
    clear: both; }
  .acc-box .box-header .box-title {
    margin: 0; }
.acc-box .box-body {
  border: 2px solid #f3f3f3; }
  .acc-box .box-body .acc-info li {
    display: table;
    margin-bottom: 10px; }
    .acc-box .box-body .acc-info li span {
      display: table-cell; }
    .acc-box .box-body .acc-info li .icon {
      padding-right: 10px;
      line-height: 22px; }
.acc-box .box-table thead {
  background: #f4f4f4;
  border: 2px solid #f3f3f3; }
  .acc-box .box-table thead tr th {
    padding: 15px 10px;
    text-transform: uppercase; }
.acc-box .box-table tbody tr td {
  border: 2px solid #f3f3f3;
  vertical-align: middle;
  padding: 15px 10px; }
  .acc-box .box-table tbody tr td .status {
    font-style: italic; }

.navbar-tab-xs {
  border: 2px solid #f3f3f3;
  border-radius: 4px;
  margin-bottom: 10px; }
  .navbar-tab-xs .tab-btn-xs {
    padding: 10px 15px;
    width: 100%;
    display: block;
    font-weight: bold;
    text-decoration: none; }

.form-control {
  border: 2px solid #f3f3f3; }

.pro-size-info .pro-size-table {
  margin-top: 25px; }
  .pro-size-info .pro-size-table td, .pro-size-info .pro-size-table th {
    height: 55px; }
  .pro-size-info .pro-size-table > tbody > tr td:nth-of-type(odd) {
    background-color: #f7f7f7; }
  .pro-size-info .pro-size-table > thead > tr th:nth-of-type(even) {
    background-color: #f7f7f7; }
  .pro-size-info .pro-size-table thead tr th, .pro-size-info .pro-size-table thead tr td, .pro-size-info .pro-size-table tbody tr th, .pro-size-info .pro-size-table tbody tr td {
    border-color: #ddd; }
.pro-size-info .pro-size-img img {
  height: 240px;
  max-width: 100%; }

.group-shirt .feature {
  padding-top: 30px;
  padding-bottom: 30px; }
.group-shirt .people-say {
  background: url("../images/group-shirt/avatar_all.jpg");
  color: white;
  background-position: center;
  background-size: cover; }
.group-shirt .carousel-cell {
  margin-right: 20px;
  overflow: hidden; }
  .group-shirt .carousel-cell img {
    display: block;
    height: 200px; }
    @media (max-width: 991px) {
      .group-shirt .carousel-cell img {
        height: 400px; } }
    @media (max-width: 1440px) {
      .group-shirt .carousel-cell img {
        height: 400px; } }
    @media (min-width: 1441px) {
      .group-shirt .carousel-cell img {
        height: 400px; } }

#mainMenu {
  background: rgba(0, 0, 0, 0.5); }
  #mainMenu .modal-dialog {
    margin-top: 150px; }
    @media (max-width: 767px) {
      #mainMenu .modal-dialog {
        margin-top: 60px; } }
    #mainMenu .modal-dialog .modal-content .modal-header .logo-type {
      padding: 10px; }
    #mainMenu .modal-dialog .modal-content .modal-body {
      padding: 5rem 0; }
      #mainMenu .modal-dialog .modal-content .modal-body ul li {
        margin-bottom: 2rem; }
        #mainMenu .modal-dialog .modal-content .modal-body ul li:after {
          content: '';
          width: 20px;
          height: 2px;
          display: block;
          background: #9E2F31;
          margin: 2rem auto 0; }
        #mainMenu .modal-dialog .modal-content .modal-body ul li:last-child:after {
          display: none; }
        #mainMenu .modal-dialog .modal-content .modal-body ul li a {
          text-transform: uppercase;
          text-decoration: none;
          color: #333;
          font-size: 1.8rem;
          letter-spacing: 5px;
          display: block;
          text-align: center; }
          #mainMenu .modal-dialog .modal-content .modal-body ul li a:hover {
            color: #9E2F31; }

.modal {
  background: rgba(0, 0, 0, 0.5); }
  .modal .modal-dialog {
    max-width: 800px; }
    .modal .modal-dialog .modal-content {
      box-shadow: none;
      border: none;
      border-radius: 0px; }
      .modal .modal-dialog .modal-content .modal-header {
        background: #9E2F31;
        color: white;
        padding: 20px; }
        .modal .modal-dialog .modal-content .modal-header h2 {
          font-family: "bahn_proregular";
          text-transform: uppercase;
          letter-spacing: 5px;
          font-weight: 300; }
        .modal .modal-dialog .modal-content .modal-header .close {
          color: white;
          text-shadow: none;
          opacity: 1; }

.headroom .logo-type {
  fill: white;
  height: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  opacity: 0; }
.headroom .logo-sign {
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%; }
.headroom .logo-type, .headroom .logo-sign, .headroom .navbar-right, .headroom .navbar-left {
  transition: all 0.3s linear; }

.headroom--top .logo-sign, .headroom--pinned .logo-sign {
  opacity: 1; }
.headroom--top .logo-type, .headroom--pinned .logo-type {
  opacity: 0; }

.headroom--unpinned {
  height: 50px;
  transition: all 0.3s linear; }
  @media (max-width: 767px) {
    .headroom--unpinned {
      height: 40px; } }
  .headroom--unpinned .logo-sign {
    opacity: 0; }
  .headroom--unpinned .logo-type {
    opacity: 1; }
  .headroom--unpinned .navbar-left {
    transform-origin: top left;
    -ms-transform: scale(0.8, 0.8);
    /* IE 9 */
    -webkit-transform: scale(0.8, 0.8);
    /* Safari */
    transform: scale(0.8, 0.8); }
  .headroom--unpinned .navbar-right {
    transform-origin: top right;
    -ms-transform: scale(0.8, 0.8);
    /* IE 9 */
    -webkit-transform: scale(0.8, 0.8);
    /* Safari */
    transform: scale(0.8, 0.8); }

.product-detail .pro-wrp {
  padding: 10rem 1.5rem; }
.product-detail #proGallery .carousel-main {
  margin-bottom: 20px; }
  .product-detail #proGallery .carousel-main .flickity-page-dots {
    display: none; }
.product-detail #proGallery .carousel-nav .flickity-prev-next-button {
  display: none; }
.product-detail #proGallery .carousel-nav .carousel-cell {
  width: 33%; }
  .product-detail #proGallery .carousel-nav .carousel-cell img {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
