<footer class="container-fluid">
	<div class="footer-row row">
		<div class="col-md-4 col-xs-12 social-btn">
			<a href="#" class="fab fa-facebook-f"></a>
			<a href="#" class="fab fa-youtube"></a>
			<a href="#" class="fab fa-instagram"></a>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<img src="images/logotype.svg" width="150px">
		</div>

		<div class="col-md-4 col-xs-12 text-right">
			<a href="" class="btn btn-white uppercase">Purchase</a>
		</div>
	</div>

	<div class="footer-row row">
		<div class="col-md-4 col-xs-12 social-buttons text-center">
			<a href="mailto:support@teestyle.com">support@teestyle.com</a>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<span>0979893292</span>
		</div>

		<div class="col-md-4 col-xs-12 text-center">
			<span>67 Tran Dinh Xu, Q1, HCMC</span>
		</div>
	</div>

	<div class="footer-row row text-center">
		<span class="copyright">Copyright © 2017 by TeeStyle. All rights reserved</span>
	</div>
</footer>