<div class="modal fade" id="mainMenu" tabindex="-1" role="dialog" aria-labelledby="mainMenu">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>					
				<div class="text-center logo-type">
					<img src="{{ site.baseurl }}/images/logotype.svg" class="logo-type" width="150px">
				</div>
			</div>
			<div class="modal-body">
				<ul class="list-unstyled text-center">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/collections">Collection</a></li>
					<li><a href="{{ site.baseurl }}/my-account">My Account</a></li>
					<li><a href="{{ site.baseurl }}/about">About Us</a></li>
					<li><a href="{{ site.baseurl }}/contact-us">Contact Us</a></li>
				</ul>
			</div>			
		</div>		
	</div>
</div>