<div class="container-fluid tee-subscribe">
	<div class="row">
		<div class="is-flex">
			<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
				<div class="input-group tee-sub-input">
					<input type="email" class="form-control" placeholder="Enter your email to subscribe">
					<span class="input-group-btn">
						<button class="btn main-btn" type="button">Subscribe</button>
					</span>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 tee-social">
				<span class="tee-social-tit">Follow us</span><br class="visible-xs">
				<a href=""><span class="icon-social icon-social-facebook"></span></a>
				<a href=""><span class="icon-social icon-social-instagram"></span></a>
				<a href=""><span class="icon-social icon-social-youtube"></span></a>
			</div>
		</div>
	</div>
</div>
